body{
  background-image: url('./assets/fondo.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ninja{
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: #333;
    border-radius: 25px;
}
  
#respuestaNinja {
    display: flex;
    background-color: #333;
    margin-top: 30px;
    border-radius: 25px;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
  }
  
  label {
    color: white;
    font-size: 25px;
    margin-right: 10px; 
  }
  
  #nombreNinja {
    width: 80px;
    text-align: center;
  }
  
  #btnRespuesta {
    color: white;
    font-size: 20px;
    border-radius: 5px;
    
    margin-left: 10px;
    background-color: #333;
  }
  

img{
width: 180px; 
height: auto;  
border-top-left-radius: 25px;
border-bottom-left-radius: 25px; 
}

#puntuacion{
    background-color: #333;
    padding: 10px;
    border-radius: 25px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

#racha{
    background-color: #333;
    padding: 10px;
    border-radius: 25px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
